<header id="navigation" class="p-navigation">
  <div class="row p-navigation__row">
    <div class="p-navigation__banner">
      <div class="p-navigation__logo">
        <a class="p-navigation__item nav-logo-wrapper" routerLink="/home">
          <img
            src="../../assets/img/fuji-mountain-1-flash.png"
            alt="fuji flash logo"
            class="p-navigation__image"
          />
          <div class="logo-titles">
            <div class="top">fuji flash</div>
            <div class="bottom m-plus">富士フラッシュ</div>
          </div>
        </a>
      </div>
      <button
        class="hamburger hamburger--spring"
        [ngClass]="{ 'is-active': menuDropdownActive }"
        type="button"
        (click)="toggleMenuDropdown($event)"
      >
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
    <nav
      class="p-navigation__nav u-align--right"
      [ngStyle]="{ display: menuDropdownActive ? 'flex' : 'none' }"
      [ngClass]="{ 'nav-mobile': menuDropdownActive }"
      aria-label="Example main navigation"
    >
      <span class="u-off-screen">
        <a href="#main-content">Jump to main content</a>
      </span>
      <ul class="p-navigation__items">
        <li
          class="p-navigation__item--dropdown-toggle"
          [ngClass]="{ 'is-active': dropdownActive }"
          id="link-1"
          [attr.aria-hidden]="dropdownActive"
          (mouseenter)="toggleNavsDropdownItems($event)"
          (mouseleave)="toggleNavsDropdownItems($event)"
        >
          <a
            routerLink="/study"
            aria-controls="study-menu"
            class="p-navigation__link nav-link-expandable"
            >Study</a
          >
          <ul class="p-navigation__dropdown" id="study-menu">
            <li>
              <a
                routerLink="/study/flash-cards"
                class="p-navigation__dropdown-item"
                >Flash Cards</a
              >
            </li>
            <li>
              <a
                routerLink="/study/kana-tables"
                class="p-navigation__dropdown-item"
                >Kana Tables</a
              >
            </li>
            <li>
              <a
                routerLink="/study/name-to-kana"
                class="p-navigation__dropdown-item"
                >Name -> Kana</a
              >
            </li>
          </ul>
        </li>
        <li class="p-navigation__item">
          <a routerLink="how-does-it-work" class="p-navigation__link"
            >How does it work?</a
          >
        </li>
        <li class="p-navigation__item">
          <a routerLink="why-learn-a-language" class="p-navigation__link"
            >Benefits of language learning</a
          >
        </li>
      </ul>
      <ul class="p-navigation__items u-image-position--right">
        <li class="p-navigation__item">
          <a href="#" class="p-navigation__link user-link">
            <img
              src="../../assets/img/sakura.png"
              class="user-icon"
              alt="user icon"
            />
            Sean</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
