<main class="u-fixed-width l-site">
  <div class="row u-vertically-center">
    <div class="col-7 u-align--center">
      <div class="hero-image--container">
        <img
          src="../../assets/img/dizzy-new-idea-2.png"
          class="hero-image--bottom"
          alt=""
        />
        <img
          src="../../assets/img/dizzy-education.png"
          class="hero-image--top"
          alt=""
        />
      </div>
    </div>
    <div class="col-5">
      <h1>Flash cards, Kana Tables, & more!</h1>
      <p>Select an activity from below to begin.</p>
    </div>
  </div>
  <hr />
  <ul class="p-matrix">
    <li class="p-matrix__item">
      <a routerLink="/study/flash-cards">
        <img
          class="p-matrix__img"
          src="../../assets/img/flash-card-icon.png"
          alt="flash card icon"
        />
        <div class="p-matrix__content">
          <h3 class="p-matrix__title">
            <a class="p-matrix__link" href="#">Flash Cards</a>
          </h3>
          <p class="p-matrix__desc">
            Quiz yourself using flash cards with premade decks including
            hiragana, katakana, numbers, and common phrases.
          </p>
        </div>
      </a>
    </li>
    <li class="p-matrix__item">
      <a routerLink="/study/kana-tables">
        <img
          class="p-matrix__img"
          src="../../assets/img/kana-table-icon.png"
          alt="kana table icon"
        />
        <div class="p-matrix__content">
          <h3 class="p-matrix__title">
            <a class="p-matrix__link" href="#">Kana Tables</a>
          </h3>
          <p class="p-matrix__desc">
            Kana Table can help reinforce your memorization of hiragana,
            katakana, and romaji. See all of the characters in a matrix.
          </p>
        </div>
      </a>
    </li>
    <li class="p-matrix__item">
      <a routerLink="/study/name-to-kana">
        <img
          class="p-matrix__img"
          src="../../assets/img/name-to-kana-icon.png"
          alt="name to kana icon"
        />
        <div class="p-matrix__content">
          <h3 class="p-matrix__title">
            <a class="p-matrix__link" href="#">Name to Kana</a>
          </h3>
          <p class="p-matrix__desc">
            Try transliterating your own name using Japanese Kana!
          </p>
        </div>
      </a>
    </li>
  </ul>
</main>
