<div class="u-fixed-width l-site">
  <div class="row u-vertically-center">
    <h2 class="p-muted-heading">
      I do not own the informational copy on this page. The content of this page
      was authored by William Klemm Ph.D. and is provided here purely for
      edutainment purposes. MLA Citation provided at bottom of page.
    </h2>
    <blockquote class="p-pull-quote--large">
      <h2 class="landing p-pull-quote__quote">
        How Does Learning Change the Brain?
      </h2>
      <p>
        Learning programs the brain. It is nature’s way to create simultaneously
        both “hardware” and “software” for the brain. Neuroscientists have long
        known that learning experiences change the functional circuitry that is
        used to process and remember a given learning event.
      </p>
      <p>
        The circuit change is anatomical: Electron microscope photographs reveal
        that the synaptic changes take the form of little blebs located on
        dendrites. These blebs are called “dendritic spines,” and their size and
        number change in response to learning and
        <a
          href="https://www.psychologytoday.com/us/basics/memory"
          title="Psychology Today looks at memory"
          class="basics-link"
          hreflang="en"
          >memory</a
        >
        formation. You might think of the induced change as a physical location
        for information storage. What is stored at any given spine is an
        increase in the probability that the spine will participate in
        activations that generate recall of the stored memory from all the
        spines that were enhanced in creating the memory.
      </p>
      <p>
        Functionally, the change operates as a template that resides more or
        less permanently and is available not only to recall the original
        learning event but to respond to similar events in the future. Of
        course, no one synapse accounts for these recall and programming
        effects: The learning and memory result from the collective enhancement
        of all the enhanced dendritic spines in the participating circuitry. The
        templates thus created provide a way for the brain to program itself for
        future capabilities. Learning how to solve one kind of task makes it
        easier to learn new tasks that are similar. This is the basis for the
        so-called “learning-set,” a concept introduced many decades ago by Harry
        Harlow.
      </p>
      <p>
        We tend to think about such matters in the
        <a
          href="https://www.psychologytoday.com/us/basics/education"
          title="Psychology Today looks at education"
          class="basics-link"
          hreflang="en"
          >education</a
        >
        of children. However, the principle applies to all ages, including
        seniors. The aging brain responds to learning the same way a child’s
        brain does: It grows new task-specific synapses that can be recruited
        for other uses.
      </p>
      <p>
        The learning effect is manifest in the growth of existing synapses and
        the formation of new synapses. In the absence of mental stimulation, the
        spines degenerate. Indeed, a typical effect of aging is that the brain
        actually shrinks as a consequence of the cumulative shrinkage of spines.
        Many neurological diseases—schizophrenia,
        <a
          href="https://www.psychologytoday.com/us/basics/autism"
          title="Psychology Today looks at autism"
          class="basics-link"
          hreflang="en"
          >autism</a
        >, and
        <a
          href="https://www.psychologytoday.com/us/basics/dementia"
          title="Psychology Today looks at dementia"
          class="basics-link"
          hreflang="en"
          >dementia</a
        >—are characterized by reduced synaptic density. An opposite problem
        occurs with drug
        <a
          href="https://www.psychologytoday.com/us/basics/addiction"
          title="Psychology Today looks at addiction"
          class="basics-link"
          hreflang="en"
          >addiction</a
        >, where certain synaptic connections are strengthened by the drug,
        essentially creating a way to store a memory that drives the addiction.
      </p>
      <div
        class="
          pt-ad pt-ad--300x250
          d-block d-none d-md-block d-lg-block d-xl-block
          block
        "
        id="block-adblock-18"
      ></div>

      <p>
        Until now, we have not learned as much about the chemical changes that
        occur with learning. A recent study from Thomas Jefferson University
        reveals that new patterns of molecular organization develop as
        connections between neurons strengthen during learning. The researchers
        basically asked the question: What does learning look like at the
        molecular level? Using super-resolution live-cell microscopy, the
        researchers confirmed the enlargement of synapses previously reported by
        others. But they also saw that during a learning experience the
        molecules involved in sending and receiving the signals between neurons
        appeared to be organized in clumps, or "nanomodules," that both dance
        and multiply when stimulated by learning-like signals.
      </p>
      <p>
        The researchers developed a novel technique wherein they could visualize
        the chemicals involved in transmitting signals from one
        <a
          href="https://www.psychologytoday.com/us/basics/neuroscience"
          title="Psychology Today looks at neuron"
          class="basics-link"
          hreflang="en"
          >neuron</a
        >
        to another. Chemicals on the sending, or presynaptic, side appeared
        green, and those on the receiving, or postsynaptic, side appeared red.
        Then, while observing the colors, they observed live neurons in
        real-time as they sent signals to each other via their neurotransmitter
        chemical systems. The color changes indicated that during signaling
        activity, the presynaptic chemicals clumped together and bound to
        clumped molecules on the postsynaptic side. The clumps appeared to have
        a uniform size. When the presynaptic neurons were stimulated in a way
        that promoted spine enlargement, they saw that the number of chemical
        clumps increased. Such stimulation caused nonmoving clumps to jiggle and
        move around the synaptic spine, with pre- and postsynaptic chemicals
        moving in lock-step. Maybe this jiggling helps to trigger the
        biochemical cascade that neurotransmission causes to change activity in
        the postsynaptic neuron.
      </p>
      <p>
        Perhaps we don’t think enough about the movement of molecules in living
        tissue. All chemicals in a solution bounce around randomly. Clumping
        together and jiggling in lock-step create new ways for chemicals to
        produce their effects. Apparently, the clumping is the triggering event
        for the enlargement of dendritic spines that creates a structural basis
        for memory.
      </p>
      <p>
        This kind of chemical interaction is not only relevant to learning. It
        also applies in unknown ways to the altered function present in
        addictions and other neurological diseases in which strong interneuronal
        connections become <em>too</em> strong. Research on neurotransmitter
        clumping in disease states has not yet begun, but here we may find clues
        on how to treat some of these conditions. Clearly, disrupting the
        clumping would disrupt the strengthening of synapses. While we want our
        synapses to grow stronger to promote normal learning, we don’t want this
        to happen, for example, in response to opiate pain relievers, which
        creates addiction. At the molecular level, addiction is a learned
        condition.
      </p>
      <div class="blog-entry-references" data-hide-large-count-items="false">
        <p class="blog-entry-references-label">References</p>
        <div class="blog-entry-references-content-items">
          <div class="blog-entry-references-content">
            <p>
              Hruska, M. et al., "Synaptic nanomodules underlie the organization
              and plasticity of spine synapses," Nature Neuroscience, DOI:
              10.1038/s41593-018-0138-9, 2018.
            </p>
          </div>
          <div class="blog-entry-references-content">
            <p>
              Klemm, W. R. Core Ideas in Neuroscience.
              <a href="https://www.smashwords.com/books/view/390780"
                >https://www.smashwords.com/books/view/390780</a
              >
            </p>
          </div>
        </div>
      </div>
      <cite class="p-pull-quote__citation"
        >Ph.D. Klemm, William. “How Does Learning Change the Brain? | Psychology
        Today.” Psychology Today, 7 Jan. 2020,
        https://www.psychologytoday.com/us/blog/memory-medic/202001/how-does-learning-change-the-brain.</cite
      >
    </blockquote>
  </div>
</div>
