<div class="u-fixed-width l-site">
  <div class="row u-vertically-center">
    <h2 class="p-muted-heading">
      I do not own the informational copy on this page. The content of this page
      was authored by ACTFL and is provided purely for edutainment purposes. MLA
      Citation provided at bottom of page.
    </h2>
    <blockquote class="p-pull-quote--large">
      <h2 class="landing p-pull-quote__quote">Why Learn Languages?</h2>
      <h2 class="subtitle">Top Ten Reasons to Learn Languages</h2>
      <p class="blurb no-borders">
        You’ve heard all the reasons why some people don’t learn languages, many
        of these founded on long-held
        <a
          href="/busted-myths-and-misconceptions-about-language-learning/"
          data-feathr-click-track="true"
          >myths and misconceptions</a
        >. The truth is, in today’s increasingly interconnected and
        interdependent world, proficiency in other languages is a vital skill
        that gives you the opportunity to engage with the world in a more
        immediate and meaningful way—whether in your neighborhood or thousands
        of miles away—while better preparing you to compete and succeed in the
        global economy.
      </p>

      <h3>Here Are Our Top Ten Benefits of Learning Languages:</h3>
      <h4>1. Connect!</h4>
      <p>
        One of the most rewarding aspects of the human experience is our ability
        to connect with others. Being able to communicate with someone in his or
        her language is an incredible gift. Bilinguals have the unique
        opportunity to communicate with a wider range of people in their
        personal and professional lives. Knowing the language makes you a local
        no matter where you are, opening up your world literally and
        figuratively. You will be shaped by communities. You will be humbled by
        the kindness of strangers. You will build lifelong friendships. And for
        these reasons alone, you will see the reward of learning languages for
        many years to come.
      </p>
      <h4>2. Advance Your Career</h4>
      <p>
        Language skills can be a significant competitive advantage that sets you
        apart from your monolingual peers. They are among the top eight skills
        required of <em>all </em>occupations—no matter your sector or skill
        level—and the demand for bilingual professionals is rising
        exponentially. In fact, between 2010 and 2015, the number of U.S. job
        postings specifically geared toward bilingual candidates
        <em>more than doubled</em>.<span
          ><span
            id="easy-footnote-1-993"
            class="easy-footnote-margin-adjust"
          ></span
          ><span class="easy-footnote"
            ><a
              href="#easy-footnote-bottom-1-993"
              data-hasqtip="0"
              oldtitle="New American Economy, <em>Not Lost in Translation: The Growing Importance of Foreign Language Skills in the U.S. Job Market</em>, March 2017, p.2."
              title=""
              aria-describedby="qtip-0"
              data-feathr-click-track="true"
              ><sup>1</sup></a
            ></span
          ></span
        >&nbsp;Employers are seeking professionals who can communicate
        seamlessly with customers in new and expanding overseas markets, as well
        as serve and sell to a large foreign-born population here at home. With
        more than 60 million U.S. residents who speak a language other than
        English at home, you don’t need to get on a plane&nbsp;to put your
        language skills to work.<span
          ><span
            id="easy-footnote-2-993"
            class="easy-footnote-margin-adjust"
          ></span
          ><span class="easy-footnote"
            ><a
              href="#easy-footnote-bottom-2-993"
              data-hasqtip="1"
              oldtitle='U.S. Census, 2009-2013 American Community Survey, “Detailed Languages Spoken at Home and Ability to Speak English for the Population 5 Years and Over: 2009-2013,” <a href="http://www.census.gov/data/tables/2013/demo/2009-2013-lang-tables.html">http://www.census.gov/data/tables/2013/demo/2009-2013-lang-tables.html</a>.'
              title=""
              aria-describedby="qtip-1"
              data-feathr-click-track="true"
              ><sup>2</sup></a
            ></span
          ></span
        >&nbsp;As an added incentive, in many instances, language skills also
        lead to hiring bonuses and increased salaries. Whatever your career
        aspiration—with language skills added to the mix, you’re ahead of the
        crowd!
      </p>
      <h4>3. Feed Your Brain</h4>
      <p>
        The many cognitive benefits of learning languages are undeniable. People
        who speak more than one language have improved memory, problem-solving
        and critical-thinking skills, enhanced concentration, ability to
        multitask, and better listening skills. They switch between competing
        tasks and monitor changes in their environment more easily than
        monolinguals, as well as display signs of greater creativity and
        flexibility. If that weren’t enough, as we age, being bilingual or
        multilingual also helps to stave off mental aging and cognitive decline.
      </p>
      <h4>4. Deepen Your Connection to Other Cultures</h4>
      <p>
        Language is the most direct connection to other cultures. Being able to
        communicate in another language exposes us to and fosters an
        appreciation for the traditions, religions, arts, and history of the
        people associated with that language. Greater understanding, in turn,
        promotes greater tolerance, empathy, and acceptance of others—with
        studies showing that children who have studied another language are more
        open toward and express more positive attitudes toward the culture
        associated with that language.
      </p>
      <h4>5. See the World</h4>
      <p>
        Traveling as a speaker of the local language can revolutionize a trip
        abroad. While monolingual travelers are capable of visiting the same
        places, travelers who know more than one language are more easily able
        to navigate outside the tourist bubble and to connect and interact with
        the place and its people in a way that is often inaccessible to those
        without the language. Learning&nbsp; a second language also opens
        additional doors to opportunities for studying or working abroad.
      </p>
      <h4>6. Go to the Source</h4>
      <p>
        In a world of more than 6,000 spoken languages, we sometimes require
        translation, but speaking at least one additional language empowers us
        to access information that would otherwise be off-limits. For example,
        individuals proficient in other languages are able to navigate&nbsp;the
        Internet as genuine global citizens—consuming and assessing foreign
        media and entertainment.
      </p>
      <h4>7. Become a Polyglot</h4>
      <p>
        Not only does learning a second language improve communication skills
        and multiply vocabulary in your first language—yes, really!—but research
        shows that it makes picking up additional languages a much easier feat,
        especially among children.<span
          ><span
            id="easy-footnote-3-993"
            class="easy-footnote-margin-adjust"
          ></span
          ><span class="easy-footnote"
            ><a
              href="#easy-footnote-bottom-3-993"
              data-hasqtip="2"
              oldtitle='See: University of Haifa, &amp;#8220;Bilinguals find it easier to learn a third language,&amp;#8221; <em>ScienceDaily</em>, February 1, 2011, <a href="http://www.sciencedaily.com/releases/2011/02/110201110915.htm">www.sciencedaily.com/releases/2011/02/110201110915.htm</a>; Viorica Marian, Ph.D., and Anthony Shook, “The Cognitive Benefits of Being Bilingual,” The Dana Foundation, October 31, 2012, <a href="http://dana.org/Cerebrum/2012/The_Cognitive_Benefits_of_Being_Bilingual/">http://dana.org/Cerebrum/2012/The_Cognitive_Benefits_of_Being_Bilingual/</a>.'
              title=""
              aria-describedby="qtip-2"
              data-feathr-click-track="true"
              ><sup>3</sup></a
            ></span
          >&nbsp;</span
        >That’s because when you learn a new language, you develop new brain
        networks that are primed and ready when you embark on learning a
        <em>third</em> language.
      </p>
      <h4>8. Boost Your Confidence</h4>
      <p>
        Any language learner can attest to making his or her share of mistakes
        while discovering&nbsp;a new language—often in front of an audience.
        It’s a necessary part of the learning process! Learning a language means
        putting yourself out there and moving out of your comfort zone. The
        upside is the amazing sense of accomplishment you’ll feel when
        conversing with someone in their native language.
      </p>
      <h4>9. Strengthen Your Decision Making</h4>
      <p>
        Studies show that decisions made in your second language are more
        reason-driven than those made in your native language.<span
          id="easy-footnote-4-993"
          class="easy-footnote-margin-adjust"
        ></span
        ><span class="easy-footnote"
          ><a
            href="#easy-footnote-bottom-4-993"
            data-hasqtip="3"
            oldtitle='<span>Catherine Caldwell-Harris, “How Knowing a Foreign Language Can Improve Your Decisions,” </span><em>Scientific American</em><span>, July 3, 2012, </span><a href="https://www.scientificamerican.com/article/foreign-language-improve-decisions/">https://www.scientificamerican.com/article/foreign-language-improve-decisions/</a><span>.'
            title=""
            aria-describedby="qtip-3"
            data-feathr-click-track="true"
            ><sup>4</sup></a
          ></span
        ><sup>&nbsp;</sup>Contrary to popular assumptions, when we deliberate in
        a second or third language, we actually distance ourselves from the
        emotional responses and biases deeply associated with our mother tongue.
        The result? Systematic and clear-headed decisions based on just the
        facts.
      </p>
      <h4>10. Gain Perspective</h4>
      <p>
        As we explore a new language and culture, we naturally draw comparisons
        to what is most familiar. Learning about another culture sheds light on
        aspects of our own culture—both positive and negative—we may not have
        previously considered. You may find a greater appreciation for what you
        have, or you may decide to shake things up!
      </p>
      <cite class="p-pull-quote__citation"
        >“10 Benefits of Learning a Second Language.” Lead with Languages, The
        American Council on the Teaching of Foreign Languages (ACTFL), 16 Jan.
        2020,
        https://www.leadwithlanguages.org/why-learn-languages/top-ten-reasons-to-learn-languages/.</cite
      >
    </blockquote>
  </div>
</div>
