$breakpoint-medium: 900px;
$color-accent: #e978a0;
$color-accent-light: #f4bace;
$font-base-family: "Noto Sans JP";
$grid-max-width: 1200px;
// $theme-default-nav: "dark";
$app-border-radius: 3px;
$app-border-color: #eee;
