/* You can add global styles to this file, and also import other style files */
@import "settings";

// Import the framework
@import "node_modules/vanilla-framework/scss/vanilla";

// Include all of Vanilla Framework
@include vanilla;

body {
  padding: 5px;
  background-color: #fcfcfc;
  background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
  background-size: 10px;
  transition: padding 0.3s ease;
}

@media /* Fairly small screens including iphones */ only screen and (max-width: 500px),
  /* iPads */ only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    padding: 0;
  }
}

// Font classes
.noto-sans {
  font-family: "Noto Sans JP", sans-serif;
}

.noto-serif {
  font-family: "Noto Serif JP", serif;
}

.m-plus {
  font-family: "M PLUS Rounded 1c", sans-serif;
}
