@import "../../settings";

:host {
  display: block;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background: #fff;
  border-radius: $app-border-radius;
  border: 2px solid $app-border-color;
  margin: 3px 0;

  @media /* Fairly small screens including iphones */ only screen and (max-width: 500px),
    /* iPads */ only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    margin: 0;
    border: none;
  }
}
