<main class="u-fixed-width l-site">
  <div class="row u-vertically-center home-row--hero">
    <div class="col-5">
      <h1>The Japanese beginner's toolbelt</h1>
      <h2 class="p-muted-heading">Study smarter, have fun, learn lots!</h2>
      <p>
        Fuji Flash is a collection of study aides for learning the fundamentals
        of Japanese language. Quiz yourself using flash cards with premade decks
        including hiragana, katakana, numbers and common phrases.
      </p>
    </div>
    <div class="col-7 u-align--center">
      <img
        class="home-image--study"
        src="../../assets/img/dizzy-education-1.png"
        alt=""
      />
    </div>
  </div>
  <div class="row u-vertically-center">
    <button class="col-4 p-button is-inline">Go Study!</button>
  </div>
  <hr />

  <div class="row u-vertically-center home-row--free">
    <div class="col-5 u-align--center">
      <img
        class="home-image--cat"
        src="../../assets/img/conifer-lucky-cat.png"
        alt=""
      />
    </div>
    <div class="col-7">
      <h2>Free forever!</h2>
      <h3 class="p-muted-heading">Open-source web app built in Angular</h3>
      <p>
        This project was started by myself, Sean Swanson, in 2021 to aid in my
        own quest to learn Japanese and also to practice developing apps for the
        web. This project will remain free for all and made open-source for all
        to contribute if they wish. Development is ongoing and new features
        added from time to time. Arigatō gozaimasu for checking out Fuji Flash!
      </p>
    </div>
  </div>
  <hr />
  <div class="u-vertically-center home-row--logos">
    <div class="p-logo-section">
      <p class="p-logo-section__title">Technologies used:</p>
      <div class="p-logo-section__items">
        <div class="p-logo-section__item">
          <img
            class="p-logo-section__logo"
            src="https://angular.io/assets/images/logos/angular/angular_solidBlack.svg"
            alt="angular logo"
          />
        </div>
        <div class="p-logo-section__item">
          <img
            class="p-logo-section__logo"
            src="https://nodejs.org/static/images/logos/nodejs-new-black.svg"
            alt="node logo"
          />
        </div>
        <div class="p-logo-section__item">
          <img
            class="p-logo-section__logo"
            src="../../assets/img/typescript-logo-transparent.png"
            alt="typescript logo"
          />
        </div>
      </div>
    </div>
  </div>
</main>
