<main class="u-fixed-width l-site">
  <div class="row u-vertically-center">
    <div class="col-5">
      <h1>The Japanese beginner's toolbelt</h1>
      <p>
        Fuji Flash is a collection of study aides for learning the fundamentals
        of Japanese language. Quiz yourself using flash cards with premade decks
        including hiragana, katakana, numbers and common phrases.
      </p>
    </div>
    <div class="col-7 u-align--center">
      <img src="../../assets/img/dizzy-education-1.png" alt="" />
    </div>
  </div>
  <div class="row u-vertically-center">
    <div class="noto-sans">
      <h1>Noto-sans</h1>
      <p>識連棋情ぴだるド心家てし</p>
    </div>
    <div class="noto-serif">
      <h1>Noto-serif</h1>
      <p>識連棋情ぴだるド心家てし</p>
    </div>
    <div class="m-plus">
      <h1>M-plus</h1>
      <p>識連棋情ぴだるド心家てし</p>
    </div>
  </div>
</main>
